@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1,
  h2,
  button {
    font-family: "Lexend Peta", sans-serif;
    color: #370a4b;
  }
  h3,
  p {
    color: #370a4b;
  }
}
