@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1,
  h2,
  h3,
  button {
    font-family: "Lexend Peta", sans-serif;
    color: #370a4b;
  }
  p {
    font-family: "Maven Pro", sans-serif;
    color: #370a4b;
  }
}
